// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.nav-link {
    border-bottom: 2px solid transparent;
}

.nav-link.active {
    border-bottom: 2px solid $primary;
}

.footer {
    padding-top: $spacer;
    color: $dark;
    text-align: center;
    font-size: 0.8rem;
}
